.choose {
  padding: 96px 0 44px;
  position: relative;
  overflow: hidden;
  background-color: $light-gray;

  @include media-up(md) {
    padding: 96px 0;
  }

  @media (min-width: 1025px) {
    padding: 128px 0;
  }

  &__title {
    margin-bottom: 48px;

    @include media-up(md) {
      margin-bottom: 64px;
    }
  }

  &__nav {
    display: none;

    @include media-up(md) {
      margin-bottom: 40px;
      display: inline-flex;
      grid-gap: 16px;
    }

    @media (min-width: 1025px) {
      grid-gap: 24px;
    }

    &-button {
      margin: 0;
      position: static;
      width: 56px;
      height: 56px;
      background: #333F51;
      transition: all 0.3s;

      &.swiper-button-disabled {
        opacity: 1;
        background-color: $white;
      }

      &:hover {
        box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
      }

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-prev {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L0.999999 6L6 11' stroke='%234EB66E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }

    &-next {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%234EB66E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__slider {
    overflow: visible;

    @include media-down(sm) {
      .swiper-wrapper {
        flex-wrap: wrap;
        grid-gap: 16px;
      }
    }

    &-pagination {
      display: none;

      @include media-up(md) {
        display: flex;
        position: static;
        margin-top: 40px;

        .swiper-pagination-bullet {
          width: 30px;
          height: 8px;
          border-radius: 0;
          margin-left: 0;
          background-color: $green;
          transition: all 0.3s;

          &:not(:last-child) {
            margin-left: 0;
            margin-right: 8px;
          }

          &:last-child {
            margin-left: 0;
            margin-right: 0;
          }

          &.swiper-pagination-bullet-active {
            width: 50px;
          }
        }
      }
    }
  }

  &-slide {
    $self: &;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: $white;
    box-sizing: border-box;
    transition: background-color 0.3s;
    grid-gap: 16px;
    padding: 40px 20px;

    &:hover {
      background-color: $green;
    }

    @media (min-width: 425px) {
      flex-direction: row;
      padding: 40px 20px 16px 20px;
    }

    @include media-up(sm) {
      padding: 40px 20px;
      align-items: center;
    }

    @include media-up(md) {
      align-items: flex-start;
      width: 100%;
      grid-gap: 24px;
      max-width: 650px;
      padding: 48px 20px 30px 20px;
    }

    @media (min-width: 1025px) {
      grid-gap: 20px;
      max-width: 830px;
      align-items: center;
      padding: 60px 20px;
    }

    &__image {
      max-width: 126px;
      flex-shrink: 0;
      padding-top: 126px;
      height: 0;
      overflow: hidden;
      position: relative;
      width: 100%;

      @include media-up(sm) {
        max-width: 200px;
        padding-top: 200px;
      }

      @include media-up(md) {
        max-width: 240px;
        padding-top: 240px;
      }

      @media (min-width: 1025px) {
        max-width: 375px;
        padding-top: 375px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {

      @include media-up(md) {
        margin-top: 24px;
      }

      @media (min-width: 1025px) {
        margin-top: 0;
      }

      #{$self}:hover & {
        color: $white;
      }

      &-quote {
        color: $green;
        margin-bottom: 8px;
        width: 32px;
        height: 22px;
        transition: color 0.3s;

        #{$self}:hover & {
          color: $white;
        }

        @include media-up(md) {
          margin-bottom: 24px;
          width: 59px;
          height: 41px;
        }

        @media (min-width: 1025px) {
          margin-bottom: 20px;
        }
      }

      &-desc {
        font-size: 12px;
        margin-bottom: 8px;
        transition: color 0.3s;

        @include media-up(md) {
          font-size: 16px;
          margin-bottom: 24px;
        }

        @media (min-width: 1025px) {
          font-size: 20px;
        }
      }

      &-title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 2px;
        text-align: right;
        transition: color 0.3s;

        @include media-up(md) {
          font-size: 20px;
          margin-bottom: 4px;
        }

        @media (min-width: 1025px) {
          font-size: 24px;
        }
      }

      &-text {
        font-size: 8px;
        display: block;
        text-align: right;
        transition: color 0.3s;

        @include media-up(md) {
          font-size: 16px;
        }
      }
    }

    &__circle {
      position: absolute;
      left: 2px;
      top: 26px;
      width: 90px;
      height: 96px;
      color: $gold;

      @media (min-width: 425px) {
        top: auto;
        left: 2px;
        bottom: 26px;
      }

      @include media-up(md) {
        width: 159px;
        height: 168px;
        left: 4px;
        bottom: 16px;
      }

      @media (min-width: 1025px) {
        left: 13px;
        bottom: 25px;
        width: 272px;
        height: 275px;
      }
    }
  }
}