/* Fonts */
$main-font: Inter, system-ui, sans-serif;
$title-font: Bungee, system-ui, sans-serif;
$list-font: Rowdies, system-ui, sans-serif;
$btn-font: CircularStd, system-ui, sans-serif;
$ptmono: PTMono, system-ui, sans-serif;
$steinbeck: Steinbeck, system-ui, sans-serif;

/* Colors */
$black: 					#000000;
$pre-black: 			#111111;
$common-black: 		#1a1a1a;
$body-bg:					#f9f9f9;
$gray: 						#F1F0F0;
$light-gray: 			#F7F8F9;
$dark-gray: 			#828282;
$green: 					#4EB66E;
$light-green: 		#01964A;
$deep-green: 			#204f2f;
$gold: 						#FFDB43;
$yellow:					#FFC000;
$peach: 					#FFCB8D;
$tomato: 					#E05050;
$red: 						#F13605;
$pink: 						#F985A5;
$gold: 						#F5BF01;
$teal:						#68BEBE;
$charcoal: 				#333F51;
$white: 					#ffffff;
$bg: 							#fefefe;
$bg-card: 				#ededed;
$blue: 						#4205F1;
$purple:					#5105F1;
$cornflower:			#97C1FF;