html,
body {
	height: 100%;
}

body {
	font-family: $steinbeck;
	min-width: 320px;
	overflow-x: hidden;
	background-color: #fefefe;
	display: flex;
	flex-direction: column;

	&.app-dev {
		padding-top: 63px;

		@media (min-width: 960px) {
			padding-top: 89px;
		}

		@media (min-width: 1025px) {
			padding-top: 100px;
		}

		@media (min-width: 1280px) {
			padding-top: 124px;
		}
	}
}

main {
	flex: 1;
}

h1, .h1 {
	font-size: 32px;

	@media (min-width: 640px) {
		font-size: 52px;
	}

	@media (min-width: 960px) {
		font-size: 72px;
	}

	@media (min-width: 1280px) {
		font-size: 96px;
	}

	@media (min-width: 1680px) {
		font-size: 120px;
	}
}

h2, .h2 {
	font-size: 24px;

	@media (min-width: 640px) {
		font-size: 28px;
	}

	@media (min-width: 960px) {
		font-size: 32px;
	}

	@media (min-width: 1280px) {
		font-size: 40px;
	}

	@media (min-width: 1680px) {
		font-size: 56px;
	}
}

h3, .h3 {
	font-size: 18px;
	line-height: 1.28;

	@media (min-width: 960px) {
		font-size: 22px;
		line-height: 1.15;
	}

	@media (min-width: 1280px) {
		font-size: 26px;
	}

	@media (min-width: 1680px) {
		font-size: 32px;
	}
}

.section {
	margin: 64px 0;

	@media (min-width: 640px) {
		margin: 72px 0;
	}

	@media (min-width: 960px) {
		margin: 112px 0;
	}

	@media (min-width: 1280px) {
		margin: 140px 0;
	}

	@media (min-width: 1680px) {
		margin: 164px 0;
	}

	&-title {
		margin-bottom: 24px;

		@media (min-width: 640px) {
			margin-bottom: 32px;
		}

		@media (min-width: 960px) {
			margin-bottom: 48px;
		}

		@media (min-width: 1280px) {
			margin-bottom: 56px;
		}

		@media (min-width: 1680px) {
			margin-bottom: 72px;
		}

		&__center {
			@media (min-width: 640px) {
				max-width: 432px;
				margin-left: 144px;
			}

			@media (min-width: 960px) {
				margin-left: auto;
				max-width: 672px;
			}

			@media (min-width: 1280px) {
				max-width: 768px;
			}

			@media (min-width: 1440px) {
				max-width: 875px;
			}

			@media (min-width: 1680px) {
				max-width: 1025px;
			}
		}
	}

	&-more {

		@media (min-width: 640px) {
			position: relative;
			padding-left: 96px;
		}

		@media (min-width: 960px) {
			padding-left: 0;
			margin-left: auto;
			max-width: 672px;
		}

		@media (min-width: 1280px) {
			max-width: 768px;
		}

		@media (min-width: 1440px) {
			max-width: 875px;
		}

		@media (min-width: 1680px) {
			max-width: 1025px;
		}

		&:before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-size: 100%;
			width: 80px;
			height: 80px;
			margin-bottom: 16px;

			@media (min-width: 640px) {
				left: 0;
				margin-bottom: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			@media (min-width: 960px) {
				padding-left: 0;
				left: -128px;
				width: 104px;
				height: 104px;
			}

			@media (min-width: 1280px) {
				left: -148px;
				width: 116px;
				height: 116px;
			}

			@media (min-width: 1680px) {
				left: -184px;
				width: 148px;
				height: 148px;
			}
		}

		&__text {
			margin-bottom: 12px;

			@media (min-width: 960px) {
				margin-bottom: 18px;
			}

			@media (min-width: 1280px) {
				margin-bottom: 16px;
			}

			@media (min-width: 1680px) {
				margin-bottom: 24px;
			}
		}
	}
}