/* BLOG SIMPLE x9 */
.blog-simple-posts {
    margin: 120px 0 152px;

    h2 {
        font-family: 'Steinbeck', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 68px;
        line-height: 1.2;
        margin-bottom: 32px;
    }

    .blog-simple-posts-description {
        font-size: 24px;
        line-height: 1.32;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 56px;
    }

    + {
        .show-more-footer {
            margin-top: -120px;
        }
    }
}

.blog-simple-posts-list {
    columns: 3;
    column-gap: 40px;
}

.blog-simple-post {
    display: inline-block;
    break-inside: avoid;
    padding-top: 32px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, .2);

    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 42px;

        a {
            color: rgba(0, 0, 0, .9);
            text-decoration: none;
            transition: opacity .2s ease;

            &:hover {
                opacity: .5;
            }
        }
    }
}

.blog-row-posts {
    margin: 120px 0 152px;

    a {
        transition: opacity .2s ease;
    }

    h2 {
        font-family: 'Steinbeck', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 68px;
        line-height: 1.2;
        margin-bottom: 32px;
    }

    .blog-row-posts-description {
        font-size: 24px;
        line-height: 1.32;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 56px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 250px;
    }

    & + .show-more-footer {
        margin-top: -60px;
    }
}

.blog-row-posts-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.blog-row-post {
    flex: 0 0 33.3333%;
    box-sizing: border-box;

    &:not(:last-child) {
        padding-right: 20px;
    }

    &:not(:nth-last-child(3)) {
        padding-left: 20px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 400;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, .9);

            &:hover {
                opacity: .5;
            }
        }
    }

    .blog-row-post-image {
        margin-bottom: 20px;
    }

    .blog-row-post-category {
        text-decoration: none;
        color: rgba(0, 0, 0, .9);
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
        display: inline-block;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

.blog-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 64px;
}

.blog-filters-icon {
    margin-right: 40px;
    font-size: 0;
}

.blog-filters-toggles {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    & > li {
        margin-right: 64px;
        font-size: 24px;
        line-height: 32px;
        color: rgba(0, 0, 0, .5);
        cursor: pointer;

        &.f-active {
            color: rgba(0, 0, 0, .9);
        }
    }
}

.blog-posts {
    &.blog-loading {
        opacity: .5;
        pointer-events: none;
    }
}

.blog-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 56px;
    padding-bottom: 72px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    &:last-child {
        border: none;
    }

    a {
        transition: opacity .2s ease;
    }

    h2 {
        a {
            &:hover {
                opacity: .5;
            }
        }
    }
}

.blog-post-image {
    flex: 0 0 385px;
    overflow: hidden;

    img {
        width: 385px;
        height: 250px;
        object-fit: cover;
    }
}

.blog-post-content {
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;

    h2 {
        font-family: 'Steinbeck', sans-serif;
        font-size: 42px;
        line-height: 55px;
        font-weight: normal;
        margin-bottom: 28px;

        a {
            display: inline-block;
            color: rgba(0, 0, 0, .9);
        }
    }
}

.blog-post-category {
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .9);
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.blog-post-excerpt {
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
}
