.custom-select {
    position: relative;

    select {
        display: none;
    }

    .select-selected {
        cursor: pointer;
        padding-bottom: 16px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        background: none;
        font-family: 'Basis Grotesque Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: #000000;
        width: 100%;
        padding-top: 30px;
        transition: 0.3s;
        box-sizing: content-box;
        position: relative;
        z-index: 1;

        @include media-up(md) {
            font-size: 20px;
        }

        &.placeholder {
            color: rgba(0, 0, 0, 0.5);
        }

        &:after {
            position: absolute;
            content: "";
            top: 36px;
            right: 0;
            width: 18px;
            height: 11px;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%23828282'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transition: all 0.15s;
        }

        &.active {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%23000000'/%3E%3C/svg%3E%0A");
                transform: rotate(-180deg);
            }
        }
    }

    .select-items {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 24px 48px -16px rgba(0, 0, 0, 0.05);
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;

        .select-item {
            font-size: 18px;
            padding: 20px 0;
            margin: 0 24px;
            cursor: pointer;
            color: #828282;
            border-bottom: 1px solid rgba(#828282, 0.2);

            @include media-up(md) {
                padding: 24px 0;
                margin: 0 32px;
                font-size: 20px;
            }

            &:last-child {
                border-bottom: none;
            }

            &.selected,
            &:hover {
                background-color: var(--color-monochrome);
            }
        }
    }

    .select-hide {
        display: none;
    }
}